*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}    
@font-face {
    font-family: 'title';
    src: url(/font/Lemon\ Tuesday.otf);
}
@font-face {
    font-family: 'cuerpo';
    src: url(/font/PlayfairDisplay-Black.ttf);
}
html{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
}
.header{
    background-color: white;
    width: 100%;
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #fec402 ;  
}
.header .logo{
    min-height: 15vh;
    width: 8%;
    position: absolute;
    top: 15px;
    left: 60px;
}
.header .nav{
    position: absolute;
    bottom: 7px;
    right: 64px;    
}
.header .nav a{
    text-decoration: none;
    padding: 0 8px;
    background: linear-gradient(to right, #fec402, #050e17); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
}
.header .nav :hover{
    background-color: white;
    color: rgb(21, 21, 12);
    box-shadow: 0px 8px 0px 0px #fec402;
}
.header .nav .init{
    box-shadow: 0px 8px 0px 0px rgb(254, 196, 2, 0.5);
}
.header .title{
    position: absolute;
    background: linear-gradient(to right, #fec402, #050e17); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;  
}
.header .iniciosecion a{
    text-decoration: none;
    color: black;
    position: absolute;
    border-radius: 5px;
    background-color: #fec402;
    right: 47px;
    top: 25px;
    width: 200px;
    height: 40px;
    align-content: center;
    text-align: center;
    box-shadow: 1px 1px 1px 1px;
}    
.header .iniciosecion :hover{
    box-shadow: 2px 2px 2px 2px;
    background-color: rgb(210, 189, 27);
}
h2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

main{
    min-height: 70vh;
    width: 100%; 
}

main .intro{
    min-height: 40vh;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 30px;
    background-image: url(../images/cooking-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 12px 0px;
}

main .intro .left{
    width: 40%;
    padding-left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: cursive;
}
main .intro .right{
    display: flex;
    align-items: center;
}

main .intro .right img{
    width: 286px;
    height: 235px;
    box-shadow: 0px 0px 3px 0px;
}

main .containers-top{
    display: flex;
    justify-content: center;
    min-height: 20vh;
    gap: 2%;
    padding: 30px;
    flex-wrap: wrap;
}

main .containers-top img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
/*     border: 1px solid; */
}

main .containers-down{
    display: flex;
    justify-content: center;
    min-height: 20vh;
    gap: 2%;
    padding: 30px;
    flex-wrap: wrap-reverse;
}

main .containers-down img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
/*     border: 1px solid; */
}

.footer{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #fec402;
    text-align: center;
    align-items: center;
}
.footer .izq{
    width: 33%;  
    position: relative;  
    text-align: center; 
}
.footer .izq img{
    width: 15%;
    position: absolute;
    top: -51px;
    left: 40px;
}
.footer .center{
    width: 34%;
    align-items: center;
    text-align: center;
}
.footer .center img{
    width: 49px;
    padding: 5px;
}
.footer .der{
    width: 33%;  
    text-align: center; 
}








